html, body {
    margin: 0px;
}

body {
    font-size: 1.2rem;
    font-family: sans-serif;
}


.container {
    max-width: 56rem;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}




h1, h3, p {
    max-width: 80ch;
}

.hero {
    background-color: blueviolet;
    height: 50vh;
    padding-top: 3rem;
}

.hero h1 {
    font-size: 5rem;
    color: white;
}

.cta {
    border-radius: 1rem;
    border-color: darkgreen;
    padding: 1rem;
    background-color: green;
    color: white;
    font-size: 2rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1.6rem;
    background-color: var(--color-bg);
    font-size: 1.4rem;
}

.navbar[data-layout="conatiner"] {
    display: block;
    padding: 0;
}

.navbar[data-layout="inner"] {
    display: flex;
}

.navbar[data-layout="center"] {
    justify-content: space-around;
}

.navbar[data-layout="split"] {
    justify-content: space-around;
}

.nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
}

body {
    background-color: seashell;
}
.navi {
    background-color: white;

}

